@import url('theme.css');

.my-logo {
  color:white;
  flex:0 0 150px;
  padding:0px 36px;
  margin-right:14px;
  line-height:32px;
}
.sk-hits-list-hit__knowl-footer{line-height:10px;margin:0 0 5px;font-size:10px;float:left; line-height: 12px;}
.sk-hits-list-hit__knowl-data{line-height:10px;margin:0 0 5px;font-size:10px;width:250px;word-break: break-all; word-wrap: break-word}
.sk-hits-list-hit__knowl-label{line-height:10px;margin:0 0 5px;font-size:10px;float:left}
.sk-hits-list-hit__knowl-title{line-height:18px;margin:0 0 5px;font-size:14px;font-weight:bold}

.gridview{position: relative;padding:0em 2.1em -0em 0em}


.gravatar {
position: relative;
top: -150px;
left: 100px;
padding: 0;
margin: 0;
opacity: 0.5;
}

.wp-caption {
position: relative;
padding: 0;
margin: 0;
border-radius: 4px;
background: rgba(0,0,0,0.5);
padding: 1.5px;
width: 250px;
height:383px;
box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
}

.wp-caption-text {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(238,232,170,.7);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1em 1em 1em 1em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-frame0 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(225,225,230,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
border-image-slice:32 32 32 32;border-image-width:50px 50px 50px 50px;border-image-outset:0px 0px 0px 0px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f0.png");
}

.wp-caption-frame1 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,235,.5);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.5em 1.5em .5em 1.5em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
border-image-slice:120 120 120 120;border-image-width:35px 35px 35px 35px;border-image-outset:2.8px 2.8px 2.8px 2.8px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f1.png");
}

.wp-caption-frame2 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 99%;
height: 380px;
color: rgba(238,232,170,.7);
left: 1px;
top: 1px;
font-size: 1em;
padding: 6em 1em 0em 1em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
background: rgba(0,0,0,.3);
border-radius: 2px;
border-image-slice:100 100 100 100;border-image-width:50px 50px 50px 50px;border-image-outset:-20px -20px -20px -20px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f2.png");
}

.wp-caption-frame3 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(190,220,200,.7);
left: 18%;
top: 15%;
font-size: .7em;
padding: 1em 1em 0em 1em;
font-weight: 400;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Courier New", Courier, monospace;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
border-image-slice:40 40 40 40;border-image-width:50px 50px 50px 50px;border-image-outset:5px 5px 5px 5px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f3.png");
}

.wp-caption-frame4 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(0,0,0,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.4),-.2px -.2px 1px rgba(255,255,255,0.2);

border: dashed;
border-radius: 4px;
border-image-slice:58 58 58 58;border-image-width:25px 25px 25px 25px;border-image-outset:0px 0px 0px 0px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f4.png");
}

.wp-caption-frame5 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1em 1em 0em 1em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border-width: 1em;
border: dashed;
background: rgba(0,0,0,.25);
border-radius: 4px;
}

.wp-caption-frame6 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(235,235,235,.5);
left: 18%;
top: 15%;
font-size: .8em;
padding: 1em 0em 0em 0em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Courier New", Courier, monospace;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
background: rgba(0,0,0,.5);
border-radius: 4px;
}

.wp-caption-frame7 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(235,235,235,.5);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.5em 1.5em .5em 1.5em;
font-weight: 500;
z-index: 2;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
border-radius: 4px;
border-image-slice:60 60 60 60;border-image-width:50px 50px 50px 50px;border-image-outset:0px 0px 0px 0px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f7.png");
}

.wp-caption-frame8 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(35,35,35,.6);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1em 1em 0em 1em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:.5px .5px 1.5px rgba(0,0,0,.8),-.1px -.1px 1px rgba(255,255,255,0.6);

border: dashed;
border-radius: 20px;
border-image-slice:128 128 128 128;border-image-width:60px 60px 60px 60px;border-image-outset:0px 0px 0px 0px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f8.png");
background: rgba(255,255,255,.6);
}

.wp-caption-frame9 {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(235,235,235,.5);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.5em 1.5em .5em 1.5em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
background: rgba(0,0,0,.5);
border-radius: 20px;
border-image-slice:135 144 135 144;border-image-width:60px 60px 60px 60px;border-image-outset:-5px -5px -5px -5px;border-image-repeat:repeat repeat;border-image-source:url("https://gitlab.com/lucidhack/knowl/-/raw/dev-lucidhack/.bookshelf/public/coverless/f9.png");
}

.wp-caption-framea {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,238,238,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Georgia, serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dotted;
border-width: .25em;
background: rgba(0,0,0,.15);
border-radius: 100px;
}

.wp-caption-frameb {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1em 1em 0em 1em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: dashed;
background: rgba(0,0,0,.7);
border-radius: 100px;
}

.wp-caption-framec {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Times New Roman", Times, serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: solid;
background: rgba(0,0,0,.25);
border-radius: 4px;
}

.wp-caption-framed {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: double;
background: rgba(0,0,0,.25);
border-radius: 0px;
}

.wp-caption-framee {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Arial Black", Gadget, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
background: rgba(0,0,0,.75);
border-radius: 4px;
}

.wp-caption-framef {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Comic Sans MS", cursive, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: ridge;
background: rgba(0,0,0,.25);
border-radius: 20px;
}

.wp-caption-frameg {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Impact, Charcoal, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: inset;
background: rgba(0,0,0,.25);
border-radius: 4px;
}

.wp-caption-frameh {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

border: outset;
background: rgba(0,0,0,.25);
border-radius: 4px;
}

.wp-caption-framei {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 64%;
color: rgba(238,232,170,.7);
left: 18%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Tahoma, Geneva, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);

background: rgba(0,0,0,.8);
  border-style: ridge;
  border-width: 4px;
  border-color: rgba(255,215,180,.8);
border-radius: 2px;
}

.wp-caption-framej {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framek {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Verdana, Geneva, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framel {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framem {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Courier New", Courier, monospace;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framen {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Lucida Console", Monaco, monospace;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-frameo {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Georgia, serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framep {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-frameq {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Times New Roman", Times, serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framer {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-frames {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Arial Black", Gadget, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framet {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Comic Sans MS", cursive, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-frameu {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Impact, Charcoal, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framev {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framew {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Tahoma, Geneva, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framex {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framey {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: Verdana, Geneva, sans-serif;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

.wp-caption-framez {
border: 5px;
text-align: center;
display: block;
position: absolute;
width: 68%;
color: rgba(235,235,236,.6);
left: 16%;
top: 15%;
font-size: 1em;
padding: 1.8em 1.5em .6em;
font-weight: 500;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Lucida Console", Monaco, monospace;
text-shadow:1px 1px 1.5px rgba(0,0,0,.8),-.2px -.2px 1px rgba(255,255,255,0.6);
}

